[RFC] The BGP Tunnel Encapsulation Attribute

[IANA codes](https://www.iana.org/assignments/bgp-tunnel-encapsulation/bgp-tunnel-encapsulation.xhtml)


* [ ] *[deprecated]* [RFC5566 BGP IPsec Tunnel Encapsulation Attribute](https://www.rfc-editor.org/rfc/rfc5566)
* [ ] *[deprecated]* [RFC5512 The BGP Encapsulation Subsequent Address Family Identifier (SAFI) and the BGP Tunnel Encapsulation Attribute](https://www.rfc-editor.org/rfc/rfc5512)
* [ ] [RFC5640 Load-Balancing for Mesh Softwires](https://www.rfc-editor.org/rfc/rfc5640.html)
* [ ] [RFC8365 A Network Virtualization Overlay Solution Using Ethernet VPN (EVPN)](https://www.rfc-editor.org/rfc/rfc8365.html)
* [ ] [RFC 9012: The BGP Tunnel Encapsulation Attribute](https://www.rfc-editor.org/rfc/rfc9012.html)

Resolved in #231